* {
    box-sizing: border-box;
}

body {
    display: flex;
    place-items: center;
    flex-direction: column;
}

header {
    place-self: center;
}

#foto-file {
    display: none;
}

#selection-tool {
    position: fixed;
    display: none;
    border: 2px dashed green;
}